{{template "layout" .}}

{{define "title"}}{{ .Title}}{{end}}

{{define "main"}}
    <article about="Login" class="p-2">
        <div class="d-flex flex-column align-items-center">
            <h6 class="h6">Используйте локальную учетную запись для входа в систему</h6>
            <form action="/postLogin" method="post" class="d-flex flex-column align-items-center">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Имя пользователя</label>
                    <input type="text" placeholder="Введите имя" class="form-control" id="inputUsername">
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Пароль</label>
                    <input type="password" placeholder="Введите пароль" class="form-control" id="inputPassword">
                </div>
                <button type="submit" class="btn btn-success">Войти</button>
                {{/*          {% if form.errors %}*/}}
                {{/*<span class="validation-summary-errors"><strong>Пожалуйста, введите правильное имя пользователя и пароль</strong></span>*/}}
                {{/*          {% endif %}*/}}
            </form>
        </div>
    </article>
{{end}}

{{define "scripts"}}
    <script src="/static/js/scripts/jquery.validate.min.js"></script>
{{end}}